/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  // フォントの優先度英語→日本語
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}
.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}
.flex {
  display: flex;
  flex-direction: column;
}
.purple {
  color: $cWineRed;
}

.travel {
  @extend .content-width;
  &__inner {
    @extend .flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $cBgGray;
    position: relative;
    z-index: 0;
  }
  &__title {
    position: relative;
    
    @include p-base(
      $display: none, 
      $width: 100px, 
      $height: 1px, 
      $top: 50%, 
      $left: -120px
      ) {
      background-color: $cBlack;
      transform: translateY(-50%) scaleX(0);
      transition: transform 0.3s ease 1.6s;
      transform-origin: right;
    }
    &.inview {
      &::before {
        transform: translateY(-50%);
      }
    }
  }
  &__sub {
    @extend .mb-sm;
  }
  &__img {
    height: 300px;
    @extend .mb-sm;
    transition: box-shadow 1ms linear 0.8s;
    & > img {
      position: relative;
      z-index: -1;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    &.inview {
      box-shadow: inset 0 0 30px $cBlack;
    }
  }
  &__texts {
    @extend .pb-sm;
  }
}
.houses {
  &__inner {
    @extend .flex;
  }
  &__title {
    @extend .font-lr;
    @extend .mb-sm;
  }
  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
}
.popular {
  &__inner {
    position: relative;
    @include p-base($top: 10%, $height: 90%) {
      background: $cBgGray;
    }
    // &::before {
    //    content: '';
    //    position: absolute;
    //    bottom: 0;
    //    left: 0;
    //    width: 100%;
    //    height: 90%;
    //    background-color: $cBgGray;
    // }
  }
  &__header {
    @extend .content-width;
  }
  &__container {
    position: relative;
    z-index: 2;
    @extend .flex;
    @extend .content-width;
    @extend .pb-sm;
  }
  &__title {
    @extend .font-md;
    @extend .mb-sm;
  }
  &__btn {
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 5px;
  }
  &__img {
    height: 150px;
    overflow: hidden;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

