$cwhite: white;
$cblack: black;

#container {
  text-align: center;
}

.btn {
  background-color: $cwhite;
  color: $cblack;
  border: 1px solid $cblack;
  padding: 10px 40px;
  margin: 50px 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $cblack;
    color: $cwhite;
  }
}